<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested to change your password. Please copy the following token.</p>

<p><strong>RESET TOKEN: </strong><%= @token %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
